body{
    background:#ffffff;
}

p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;    
    text-align: center;
    color:#3772FF;
    
}

.cabecalho p{
    position: relative;
    text-align: center;
    color:#3772FF;
    margin:0 12%;
    top: -200px;
    
}

.corpo{
    width:100%;
}

main{
    margin-top:20px;
    justify-content: start;
    top: -200px;
    min-height: 60vh;
}

.logo{
    margin-top:30%;
}

.exibePet{
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pet{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:100%;
    background: #F7F7F7; 
    margin:0 10px;
    padding:20px 0;
}

.imagemPet{
    margin-right: 10px;
}
.infoPet{
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}

.nomePet, .idadePet, .portePet, .comportamentoPet, .cidadePet, .responsavelPet{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #737380;
}
.nomePet{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color:#3772FF;
    padding-bottom: 10px;
}

.cidadePet, .responsavelPet{
    font-size: 12px;
    display:flex;
    flex-direction: column;
    justify-content: center; 
}

.cidadePet{
    padding-top:20px;   
}
.responsavelPet a{
    text-decoration:none;
    color: #737380;
}

.imagemContato{
    vertical-align: middle;
}

footer{
    background: #36D6AD;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}

.rodape p{ 
    color: white
}


@media screen and (max-width: 768px){
    .cabecalho p{
        top:-180px;
        
    }
    
    main{
        top:-200px;
    }
    
    
    footer{
        top:-200px;
    }
}

@media screen and (max-width: 480px){
    .cabecalho p{
        top:-100px;
        margin:0 20%;
    }
    
    main{
        background-image: none;
        top:-100px;
    } 
    
    
    p{
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;    
    }
    
    main{
        min-height: 45vh;
    }
    
    .corpo{
        width:100%;
        
    }
    
    .exibePet{
        
        width:100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    
    footer{
        background: #36D6AD;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        top:-100px;
    }
    .rodape{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .rodape p{ 
        color: white;
        text-align: center;
    }
}
