
@media screen and (min-width:0){
    .corpo{
        color:#3772FF;
        background-color: white;
        background-image: url("/assets/img/forma2.svg");
        background-position: right 250px;
        background-repeat: no-repeat;
        background-size: 84px;
    }
    .corpo--index{
        color:white;
        background-color: #3772FF;
        background-image: url("/assets/img/forma2.svg");
        background-position: right 250px;
        background-repeat: no-repeat;
        background-size: 84px;
    }
    
    .corpo--home{
        color: #3772FF;
        background-color: white;
    }
    
}

@media screen and (min-width:768px){
    .corpo{
        background-size: 130px;
    }
    .corpo--index{
        background-size: 130px;
    }

    .corpo--home{
        color:#3772FF;
        background-color: white;
        background-image: url("/assets/img/forma2.svg");
        background-position: right 250px;
        background-repeat: no-repeat;
        background-size: 84px;
    }
}

@media screen and (min-width:1440px){
    
}