

@media screen and (min-width:0){
    .ilustracao{
        background:url("../img/ilustracao1.svg");
        background-repeat: no-repeat;
        background-size: contain;
        height:230px;
        width:200px;
        z-index: -1;
        position: relative;
        bottom:-20px;
    }
    
    
}

@media screen and (min-width:768px){
    .ilustracao{
        height:422px;
        width:338px;
    }
}

@media screen and (min-width:1440px){
    
}